.navbar {
    background-color: #647384;
    background-image: linear-gradient(#657585, #4b5e6f);
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.elementBetween {
    flex-grow:10;
}

.logo {
    margin-left: auto;
    height: 150px;
    margin: 0px;
}

.cart {
    height: 50px;
    margin: 50px;
}

.navbar-buttons {
    align-items: flex-end;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #857165;
    color: black;
    height: 50px;
    margin-top: 50px;
}

body {
    background-color: #857165;
}

.logo {
    color: #6b7b8c;
}